/* Custom animations */
@keyframes scaleIn {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
  
  .button-hover:hover {
    animation: scaleIn 0.2s forwards;
  }
  